body{
    .container-box{
        .navigation{
            padding: 0.3em;
            position: relative;
            //background: rgb(235, 231, 231);
            ul{
                a{
                    text-decoration: none;
                    color: black;
                }
                padding: 1em;
                text-align: center;
                
                
                li{
                    padding: 0.5em;
                    font-size: 100%;
                    font-weight: bold;
                    text-transform: uppercase;
                    list-style: none;
                    display: inline;
                    margin: 1%;
                    z-index: 0;
                    :hover{
                        z-index: 1;
                    }
                    img{
                        width: 5%;
                        float: left;
                        transform: translateY(-35%);
                    }
                    
                }
            }

        }
        .image-package{
            display: flex;
            width: 100%;
            #gallery{
                
                #images{
                    display: flex;
                    #slides{
                        margin: 0.3%;
                        padding: 1em;
                        //background: rgba(240, 238, 238, 0.808);
                        :hover{
                            z-index: -1;
                            transition: 1s;
                            padding: 0.5em;
                            
                        }
                        a{
                            text-decoration: none;
                        }
                        img{
                            margin: 5%;
                            width: 100%;
                        }
                        h1{
                            text-align: center;
                            margin: 1%;
                            text-transform: uppercase;
                            font-size: 80%;
                            color: grey;
                        }
                    }
                }   
           }
            .social{
                
                position:relative;
                width:fit-content;
                
                width: 15%;
                ul{
                    transform: translateY(80%);
                    
                    a{
                        text-decoration: none;
                    }
                    text-align: center;
                    list-style: none;
                    li{
                        margin: 2%; 
                        padding: 1em;
                        //background-color: rgb(236, 232, 232);
                        //border-radius: 50%;
                        :hover{
                            text-align: center;
                            background: gey;
                            transition: 2s;
                            //font-size: 150%; not necessary
                            
                        }
                    }
               }
            }
        }
        footer{
            position: relative;
            //background: rgb(234, 234, 238);
            //padding: 1em;
            margin: 1%;
            .box-1{
                
                ul{
                    a{
                        color: black;
                        text-decoration: none;
                    }
                    text-align: center;
                  li{
                    list-style: none;
                    display: inline;
                    margin: 1%;
                    padding: 1em;
                    text-transform: uppercase;
                    font-size: 100%;
                    #left{
                        float: left;
                    }
                  }
                }
            }
        }
    }
    
}